th,
td {
  color: #640740;
}

h1,
h3 {
  display: flex;
  justify-content: center;
}

#profile {
  height: 100vh;
}

#react {
  color: #640740;
}
.style{
  margin:20px;
  width: fit-content;
  height: fit-content;

}
.card-clr{
  background-color: #5c0751;
  color:rgb(247, 239, 239);
}